#container {
    width: 90%;
    margin: 1rem auto 1rem auto;
}

#contact {
    margin-top: 0.5rem;
}

.submitbtncontainer {
    margin-top: 0.8rem;
    display: flex;
    justify-content: right;
}

#payment-container {
    background-color: white;
    text-align: center;
    width: 30%;
    padding: 2rem;
    position: fixed;
    top: 12rem;
    left: 26rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#qrcode {
    width: 8rem;
}

#paybtn {
    text-align: center;
    margin-top: 15rem;
}

#paybtn-btn {
    font-size: 3rem;
    padding: 1rem 4rem;
}

#payment-container2 {
    display: none;
}