.header {
    width: 100%;
    padding-left: 3rem;
    padding-right: 2rem;
}

.logo {
    width: 3.5rem;
}

#sidebar-btn {
    width: 3.5rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 17px;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid rgb(113, 113, 113);
}

#sidebar-btn span {
    width: 2.5rem;
    height: 0.3rem;
    background-color: rgb(125, 123, 123);
    border-radius: 5px;
}

#sidebar {
    position: fixed;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: block;
    top: 0;
    height: 100%;
    right: 0;
    display: none;
}

.sidebar-items {
    height: 40rem;
}

#blackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

footer {
    background-color: #140102;
    color: azure;
    margin: 7rem 0rem 0rem 0rem;
    padding: 3rem;
}

footer #about {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}



.dev-info {
    display: flex;
    justify-content: space-between;
}

.dev-info p {
    margin: 5px;
}

.dev-name {
    font-size: 1.5rem;
    font-weight: 600;
}

#dev-info {
    text-align: center;
    margin: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.icon {
    width: 2rem;
}

#social-media {
    display: flex;
    justify-content: space-between;
}

#search-btn-sidebar {
    cursor: pointer;
}

#sidebar-booktikit-btn {
    cursor: pointer;
}

a {
    color: azure;
    text-decoration: none;
}

#search {
    text-align: center;
    width: 40%;
    border: 1px solid black;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    top: 23%;
    left: 28%;
    display: none;
}

#search input {
    width: 85%;
    margin-top: 1rem;
}

#booktikitsearchsection {
    width: 50%;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    top: 6%;
    left: 28%;
    display: none;
}

#formsearchtrain {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 8px;
}

#formsearchtrain h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(43, 58, 226);
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formsearchtrain input {
    width: 80%;
    margin: 1rem;
}

#arrow-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow {
    width: 2rem;
}

#search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#s-btn {
    width: 50%;
}

.alert {
    text-align: center;
}

#logoutBtn {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

#notify {
    background-color: hsl(0, 0%, 98%);
    border-left: 5px solid #4CAF50;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 20rem;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    position: absolute;
    bottom: 2px;
    right: 30px;
}

#close {
    margin: 0;
    display: flex;
    align-items: right;
    justify-content: end;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #888;
}

.close-btn:hover {
    color: #000;
}

#notify p {
    margin: 10px 0;
}

#notify p:first-of-type {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#notify p:nth-of-type(2) {
    font-size: 16px;
    font-weight: normal;
}

#notify p span {
    color: #999;
}

#notify p:last-of-type {
    font-size: 14px;
    font-style: italic;
    color: #555;
}