<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/style/search.css" />
    <style>
      .container {
        padding: 50px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <header><%- include('../includes/header') %></header>
    <main>
      <section id="about" class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>About Us</h2>
              <p class="lead">
                Welcome to the Advanced Railway Reservation System! We are
                dedicated to providing you with a seamless experience for
                booking train tickets online. Our system leverages modern
                technologies to ensure efficiency and convenience.
              </p>
              <p>
                We understand the challenges of traditional ticket booking
                methods, and our goal is to simplify this process for you. With
                our user-friendly interface, you can easily search for trains,
                check availability, and book tickets from the comfort of your
                home.
              </p>
              <p>
                Additionally, our system allows users to read and write reviews
                about their train travel experiences, helping others make
                informed decisions.
              </p>
              <p>
                Thank you for choosing our service. We are committed to
                continuously improving and enhancing your booking experience.
              </p>
            </div>
            <div class="col-md-6">
              <img
                src="/homepage/train/vande1.jfif"
                alt="About Us Image"
                class="img-fluid rounded"
              />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer><%- include('../includes/footer') %></footer>
  </body>
</html>
