<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style/booktikit.css" />
    <script src="/script/dopayment.js" defer></script>
  </head>
  <body>
    <div id="paybtn">
      <button class="btn btn-primary" id="paybtn-btn">Pay</button>
    </div>
  </body>
</html>
